/* Flexbox that contains the two images/links for the main topics. */
.two-links-flex {
    margin-top: 5%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    gap: 10%;
}

/* The two children of the flexbox. */
.two-links-flex-children {
    position: relative;
    text-align: center;
}

/* Blurs an image. */
.blurred-image {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

/* The text over the links for the flexbox, centered to the image. */
.centered-link-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48pt;
    color: aliceblue;
    text-shadow: 2px 2px 0 #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Prevent the user from selecting the text. */
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}